<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>IBCommunity {alfa}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/paper-kit.css?v=2.1.0" rel="stylesheet"/>
	<link href="assets/css/demo.css" rel="stylesheet" />

	<!--     Fonts and icons     -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/nucleo-icons.css" rel="stylesheet" />

</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="150">
		<div class="container">
			<div class="navbar-translate">
				<button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar"></span>
					<span class="navbar-toggler-bar"></span>
					<span class="navbar-toggler-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><i class="icon nc-icon nc-air-baloon"></i> IBCommunity</a>
			</div>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="nc-icon nc-touch-id"></i>Login</a>
					</li>
					<li class="nav-item">
						<a href="register.html" target="" class="nav-link"><i class="nc-icon nc-trophy"></i>Criar conta</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- end navbar  -->
	<!-- content -->
	<div class="page-header" data-parallax="true" style="background-image: url('assets/img/daniel-olahh.jpg');">
		<div class="filter"></div>
		<div class="container">
			<div class="motto text-center">
				<h1>Maximize rendimentos para o seu ecossistema</h1>
				<h3>Facilite o acesso a recursos genéticos e otimize a repartição de benefícios</h3>
				<br />
				<button type="button" class="btn btn-outline-neutral btn-round disabled mr-3" data-toggle="tooltip" data-placement="bottom" title="Aguarde, em breve... :)">Cadastre-se</button>
				<a class="btn btn-outline-danger btn-round smooth-scroll scroll-down-anim" href="#detail">Saiba mais</a>

			</div>
		</div>
	</div>
	<div class="main">
		<div id="detail" class="section text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="info mt-5">
							<div class="icon icon-danger">
								<i class="nc-icon nc-chart-pie-36"></i>
							</div>
							<div class="description">
								<h4 class="info-title">O que é?</h4>
								<p class="mt-3">O IBCommunity acelera a repartição justa e equitativa de benefícios entre comunidades,
									provedores e usuários através de projetos comunitários que ajudam a manter a floresta ambientalmente saudável.
									A repartição de benefícios é primordial para garantir o acesso a recursos genéticos da diversidade brasileira.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info mt-5">
								<div class="icon icon-danger">
									<i class="nc-icon nc-compass-05"></i>
								</div>
								<div class="description">
									<h4 class="info-title">Como funciona?</h4>
									<p class="mt-3">Cadastre-se e selecione entre projetos para a repartição em comunidades provedoras.
										Receba auxílio do Instituto Beraca para a obtenção de consentimento prévio fundamentado e para a construção dos termos de acordo mútuo entre provedores e usuários.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info mt-5">
									<div class="icon icon-danger">
										<i class="nc-icon nc-chart-bar-32"></i>
									</div>
									<div class="description">
										<h4 class="info-title">Qual o investimento?</h4>
										<p class="mt-3">Na modalidade não monetária, o valor a ser repartido é de 0.75% do faturamento líquido obtido com o uso do produto genético.
											Acrescenta-se 15% do valor do projeto para a administração, monitoramento e avaliação pelo Instituto Beraca.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<a href="#paper-kit" class="btn btn-danger btn-round mt-5">Faça parte</a>
								</div>
							</div>
						</div>
					</div>
					<div class="section section-dark-blue text-center">
						<div class="container">
							<div class="row justify-content-md-center">
								<div class="col-md-6">
									<h2 class="title text-white mb-5">Porque repartir benefícios não monetários através do IBCommunity?</h2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 mt-4">
									<div class="card card-profile card-plain mt-5">
										<div class="card-avatar">
											<a href="#avatar"><img src="assets/img/florestas.jpg" alt="..."></a>
										</div>
										<div class="card-body">
											<a href="#paper-kit">
												<div class="author">
													<h4 class="card-title">Manutenção de florestas e comunidades</h4>
													<h6 class="card-category">Investimento na preservação</h6>
												</div>
											</a>
											<p class="card-description text-center">
												O IBCommunity garante que benefícios não monetários repartidos sejam usados para a conservação e o uso sustentável do patrimônio ambiental,
												o que contribui significativamente com a redução da pobreza e com o desenvolvimento sustentável.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 mt-4">
									<div class="card card-profile card-plain mt-5">
										<div class="card-avatar">
											<a href="#avatar"><img src="assets/img/devlocal.jpg" alt="..."></a>
										</div>
										<div class="card-body">
											<a href="#paper-kit">
												<div class="author">
													<h4 class="card-title">Parceria para o desenvolvimento local</h4>
													<h6 class="card-category">Investimento na eficácia</h6>
												</div>
											</a>
											<p class="card-description text-center">
												O IBCommunity mantém um banco de projetos relevantes para comunidades
												elaborados a partir de planejamento participativo em diversos territórios,
												o que garante maior adesão local e propicia um investimento que atinja
												seu impacto socioambiental desejado.
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-4 mt-4">
									<div class="card card-profile card-plain mt-5">
										<div class="card-avatar">
											<a href="#avatar"><img src="assets/img/resultados.jpg" alt="..."></a>
										</div>
										<div class="card-body">
											<a href="#paper-kit">
												<div class="author">
													<h4 class="card-title">Amplificação dos resultados no território</h4>
													<h6 class="card-category">Investimento no futuro</h6>
												</div>
											</a>
											<p class="card-description text-center">
												O Instituto Beraca garante o retorno do investimento em repartição não monetária através de metodologias de monitoramento e avaliação dos projetos
												e suas comunidades para que você possa compartilhar os resultados de seus compromissos com a responsabilidade socioambiental.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="section landing-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8 ml-auto mr-auto">
									<h2 class="text-center">Quer conhecer mais? <br>Vamos conversar!</h2>
									<form class="contact-form">
										<div class="row">
											<div class="col-md-6">
												<div class="input-group mb-2">
													<span class="input-group-addon">
														<i class="nc-icon nc-single-02"></i>
													</span>
													<input type="text" class="form-control" placeholder="Seu nome">
												</div>
											</div>
											<div class="col-md-6">
												<div class="input-group mb-2">
													<span class="input-group-addon">
														<i class="nc-icon nc-briefcase-24"></i>
													</span>
													<input type="text" class="form-control" placeholder="Instituição que representa">
												</div>
											</div>
											<div class="col-md-6">
												<div class="input-group mb-2">
													<span class="input-group-addon">
														<i class="nc-icon nc-email-85"></i>
													</span>
													<input type="text" class="form-control" placeholder="Seu email">
												</div>
											</div>
											<div class="col-md-6">
												<div class="input-group mb-2">
													<span class="input-group-addon">
														<i class="nc-icon nc-mobile"></i>
													</span>
													<input type="text" class="form-control" placeholder="Seu telefone">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<textarea class="form-control mb-2" rows="4" placeholder="Escreva aqui seus pensamentos, sentimentos e questões ..."></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" value="">
														Possui PIC
														<span class="form-check-sign"></span>
													</label>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" value="" checked>
														Possui MAT
														<span class="form-check-sign"></span>
													</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 ml-auto mr-auto text-center">
												<button class="btn btn-danger btn-lg btn-fill">Enviar mensagem</button>
											</div>
										</div>
								</form>
								<div class="row mt-5">
									<div class="col-md-6 ml-auto mr-auto text-center">
										<a href="http://www.facebook.com/institutoberaca" target="_blank" class="btn btn-link btn-danger"><i class="fa fa-2x fa-facebook"></i></a>
										<a href="http://www.instagram.com/institutoberaca" target="_blank" class="btn btn-link btn-danger"><i class="fa fa-2x fa-instagram"></i></a>
									</div>
							</div>
							<div class="row mt-5">
								<div class="col-md-6 ml-auto mr-auto text-center">
									<a href="http://www.institutoberaca.org" target="_blank" class="btn btn-link btn-danger"><img src="assets/img/logo-beraca.svg" width="78" height="36" alt="Instituto Beraca"></a>
								</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end content -->
			<!-- -footer -->
			<footer class="footer section-dark">
				<div class="container">
						<div class="credits ml-auto">
							<span class="copyright">
								© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://3ecologias.net" target="blank">3Ecologias</a>
							</span>
						</div>
					</div>
				</div>
			</footer>
			<!-- end footer -->
		</body>

		<!-- Core JS Files -->
		<script src="assets/js/jquery-3.2.1.js" type="text/javascript"></script>
		<script src="assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
		<script src="assets/js/popper.js" type="text/javascript"></script>
		<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="assets/js/bootstrap-switch.min.js" type="text/javascript"></script>

		<!--  Paper Kit Initialization snd functons -->
		<script src="assets/js/paper-kit.js?v=2.1.0"></script>

		</html>
